h1 {
  text-align: center;
  color: rgb(214, 214, 14);
}
.preview{
  display: grid;
  grid-template-columns: 55% 70% 50%;
  margin-left: 90px;
}
@media (max-width:900px){
  .preview{
    margin-left: 5px;
  }
}